<html lang="es">
    <head>
            <title>Proyecto 2</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="/static/tln.min.css"/>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="/static/prueba_js.js"></script>
            <style>    
              /* Set black background color, white text and some padding */
              nav {
                background-color: #555;
              }
          
              footer {
                background-color: #555;
                color: white;
                padding: 15px;
              }
              table {
                border-collapse: collapse;
                width: 100%;
               }

               th, td {
                text-align: left;
                padding: 8px;
               }

                tr:nth-child(even) {background-color: #f2f2f2;}
            </style>
    </head>
    
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="/">BD2</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="">Ingresar
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a onclick="nPate()">Patentes</a></li>
                                <li><a onclick="nCola()">Colaboradores</a></li>
                                <li><a onclick="nPais()">Paises</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="">Listar inventos
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a onclick="lPais()">Por pais</a></li>
                                <li><a onclick="lInve()">Por inventor</a></li>
                                <li><a onclick="lArea()">Por area</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="wrapper" align="center">
            <h3> Listar inventos por pais </h3>
            <form action="/filtrarPais" method="POST" enctype="application/json">
                <div>
                    <label>Pais</label>
                    <input type="text" id="pais" name="pais">
                </div>
                <input type="submit" id="btnFiltrar" value="Filtrar">
            </form>

            <% if(valores.length > 0){ %>
                <table style="width: fit-content;">
                    <tr>
                    <th>ID</th>
                    <th>Titulo</th> 
                    <th>Descripcion</th>
                    <th>email</th> 
                    <th>Fecha</th> 
                    </tr>
                    <% for(var i=0; i< valores.length; i++){ %>
                    <tr>
                    <td><%= valores[i].idticket %></td>
                    <td><%= valores[i].titulo %></td> 
                    <td><%= valores[i].descripcion %></td> 
                    <td><%= valores[i].email %></td> 
                    <td><%= valores[i].fecha %></td> 
                    </tr>
                    <% } %>
                </table>
            <% } %>
        </div>
    </body>
</html>