<html lang="es">
    <head>
            <title>Practica 4</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="/static/tln.min.css"/>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="/static/prueba_js.js"></script>
            <style>    
              /* Set black background color, white text and some padding */
              nav {
                background-color: #555;
              }
          
              footer {
                background-color: #555;
                color: white;
                padding: 15px;
              }
              table {
                border-collapse: collapse;
                width: 100%;
               }

               th, td {
                text-align: left;
                padding: 8px;
               }

                tr:nth-child(even) {background-color: #f2f2f2;}
            </style>
    </head>
    
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="">BD2</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                    </ul>
                </div>
            </div>
        </nav>

        <h3> 201503393 - José Daniel De León Ruiz </h3> 

        <br> 
        <hr> 
        <br> 

        <div id="container-1" align="center">
            <h3> Crear registro </h3>
            <form action="/crear" method="POST" enctype="application/json">
                <div>
                    <label>Fecha</label>
                    <input type="date" id="nFecha" name="nFecha">
                </div>
                <div>
                    <label>Email</label>
                    <input type="email" id="nEmail" name="nEmail">
                </div>
                <div>
                    <label>Titulo</label>
                    <textarea id="nTitulo" name="nTitulo" rows="1" cols="50"> </textarea>
                </div>
                <div>
                    <label>Descripcion</label>
                    <textarea id="nDescri" name="nDescri" rows="5" cols="50"> </textarea>
                </div>
                <input type="submit" id="btnCrear" value="Crear">
            </form>

            <label><%= consola %> </label>

        </div>

        <br> 
        <hr> 
        <br>

        <div id="wrapper" align="center">
            <h3> Filtros </h3>
            <form action="/filtrar" method="POST" enctype="application/json">
                <div>
                    <label>Fecha Inicial</label>
                    <input type="date" id="fIni" name="fIni">
                </div>
                <div>
                    <label>Fecha Final</label>
                    <input type="date" id="fFin" name="fFin">
                </div>
                <div>
                    <label>Email</label>
                    <input type="email" id="fEmail" name="fEmail">
                </div>
                <input type="submit" id="btnFiltrar" value="Filtrar">
            </form>

            <% if(valores.length > 0){ %>
                <table style="width: fit-content;">
                    <tr>
                    <th>ID</th>
                    <th>Titulo</th> 
                    <th>Descripcion</th>
                    <th>email</th> 
                    <th>Fecha</th> 
                    </tr>
                    <% for(var i=0; i< valores.length; i++){ %>
                    <tr>
                    <td><%= valores[i].idticket %></td>
                    <td><%= valores[i].titulo %></td> 
                    <td><%= valores[i].descripcion %></td> 
                    <td><%= valores[i].email %></td> 
                    <td><%= valores[i].fecha %></td> 
                    </tr>
                    <% } %>
                </table>
            <% } %>
        </div>
    </body>
</html>